.headerWrapper {
  position: relative;
}

.image {
  width: 100%;
}

.inputWrapper {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input {
  position: relative;
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
}

.button {
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 80%;
  top: 50%;
  padding: 0 48px;
  transform: translate(15px, -50%);
  background-color: #2285fa;
  color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: all 0.3s;
  &:hover {
    background-color: #196bcf;
  }
}

.searchResults {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  right: 0;
  transform: translate(-50%, 0);
  color: rgba(0, 0, 0, 0.651);
}
